@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	-webkit-font-smoothing: antialiased;
}

x-fanta {
	width: 1000px;
	height: 2000px;
	display: block;
	position: relative;
	-webkit-mask: url(./can-mask.png) no-repeat center;
	-webkit-mask-size: contain;
	mask: url(./can-mask.png) no-repeat center;
	mask-size: contain;
}

x-fanta:before {
	background: url(./can.png) no-repeat center;
	mix-blend-mode: color-dodge;
	z-index: 98;
}
x-fanta:after {
	background: url(./can-cap.png) no-repeat center;
	z-index: 99;
}

x-fanta:after,
x-fanta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	width: 100%;
	background-size: contain;
	pointer-events: none;
}

x-logo > * {
	position: absolute;
}

x-logo {
	width: 1000px;
	height: 1000px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transform: rotate(-7deg) scale(1.2) translateX(-1%);
}

x-label {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	font-family: 'Fredoka One', sans-serif;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	right: 40%;
	left: 10%;
	top: 65%;
	line-height: 1.2;
	z-index: 10;
}

x-label span {
	background: #77b94c;
	padding: 0em 0.5em;
	display: inline-block;
	margin-left: -0.25em;
	margin-right: -0.225em;
	margin-bottom: 0.1em;
}

x-fanta .logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

x-fanta .edible {
	position: absolute;
	top: 61%;
	left: 54%;
	right: 0;
	bottom: 0;
	width: 36%;
}
